.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
android/app/src/main/java/io/
android/local.properties
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
